* {
    margin: 0;
    font-family: 'chango';
    box-sizing: border-box;
    padding: 0;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

body {}

.gameBox {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url("img/9_intro_outro_screens/elPolloLocoBgr.jpg");
}

.gameScreen {
    height: 480px;
    width: 720px;
    position: relative;
    overflow: hidden;
}

.fpsBlock {
    position: absolute;
    top: 0;
    z-index: 6;
    font-size: 10px;
    background-color: black;
    color: white;
}

.activeFpsBlock {
    position: absolute;
    top: 0;
    z-index: 6;
    font-size: 10px;
    background-color: #ffffff00;
    color: black;
    border: none;
}

.gameIntro {
    position: absolute;
    height: 100%;
    width: 100%;
}

.gameOutro {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: outroZoomIn 1s;
}

.gameInfo {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("img/9_intro_outro_screens/infoWallpaper.jpg");
}

.infoBox {
    height: 100%;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}

.infoLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoText {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    border-left: black 2px solid;
}

.explainButton {
    height: 50px;
    width: 50px;
}

.startButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    background-color: rgb(221, 221, 52);
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    transform: translate(-50%, 0);
    width: fit-content;
    height: fit-content;
}

.startButton:hover {
    background-color: rgb(255, 251, 22);
    transform: translate(-50%, 0) scale(1.05);
    cursor: pointer;
}

.infoButton {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    background: url('img/9_intro_outro_screens/infoButton.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

.infoButton:hover {
    scale: 1.05;
    color: #3164A3;
    cursor: pointer;
}

.pausePlayButton {
    display: none;
    position: absolute;
    height: 45px;
    width: 45px;
    right: 2px;
    top: 50px;
}

.pausePlayButton:hover {
    scale: 1.05;
    cursor: pointer;
}

.showHideUiButton {
    display: none;
    position: absolute;
    height: 45px;
    width: 45px;
    right: 2px;
    top: 100px;
    border: 3.5px solid;
    border-radius: 50%;
}

.showHideUiButton:hover {
    scale: 1.05;
}

.fullscreenButton {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.fullscreenButton:hover {
    scale: 1.05;
    cursor: pointer;
}

.touchButtonsContainer {
    width: 100%;
    position: absolute;
    display: none;
    justify-content: space-between;
    bottom: 0px;
    padding: 5px;
}

.touchButtonBox {
    display: flex;
    gap: 25px;
}

.arrowLeftButton {
    border: none;
    background-color: transparent;
    height: 50px;
    width: 50px;
    bottom: 10px;
    left: 10px;
}

.arrowLeftButton:hover {
    scale: 1.05;
}

.arrowRightButton {
    border: none;
    background-color: transparent;
    height: 50px;
    width: 50px;
    bottom: 10px;
    left: 70px;
}

.arrowRightButton:hover {
    scale: 1.05;
}

.throwButton {
    border: none;
    background-color: transparent;
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
}

.throwButton:hover {
    scale: 1.05;
}

.jumpButton {
    border: none;
    background-color: transparent;
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
}

.jumpButton:hover {
    scale: 1.05;
}

canvas {
    height: 100%;
    width: 100%;
    background-color: black;
}

@keyframes outroZoomIn {
    0% {
        transform: scale(8);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 800px) {
    .gameScreen {
        height: 100%;
        width: 100%;
    }
    .fullscreenButton {
        display: none;
    }
    .infoBox {
        justify-content: space-between;
        gap: 0;
        padding: 10px;
    }
    /* .touchButtonsContainer {
        display: flex;
    }
    .showHideUiButton {
        display: unset;
    } */
}


/* @media only screen and (max-width: 725px) and (min-width: 0px) {

} */