* {
    margin: 0;
    font-family: 'chango';
    box-sizing: border-box;
    padding: 0;
}

.d-none {
    display: none;
}

body {
    background-image: url("img/9_intro_outro_screens/elPolloLocoBgr.jpg");
}

.gameBox {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.gameScreen {
    height: 480px;
    width: 720px;
    position: relative;
    overflow: hidden;
}

.gameIntro {
    position: absolute;
    height: 480px;
    width: 720px;
}

.gameOutro {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: outroZoomIn 1s;
}

@keyframes outroZoomIn {
    0% {
        transform: scale(8);
    }

    100% {
        transform: scale(1);
    }
}

.gameInfo {
    display: none;
    position: absolute;
    height: 480px;
    width: 720px;
    background-image: url("img/9_intro_outro_screens/infoWallpaper.jpg");
}

.infoBox {
    height: 100%;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.infoLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoText {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    border-left: black 2px solid;
}

.explainButton {
    height: 50px;
    width: 50px;
}

.startButton {
    background-color: rgb(221 221 52);
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    font-size: 18px;
}

.startButton:hover {
    background-color: rgb(255 251 22);
    scale: 1.05;
    cursor: pointer;
}

.infoButton {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    background: url('img/9_intro_outro_screens/infoButton.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

.infoButton:hover {
    scale: 1.05;
    color: #3164A3;
    cursor: pointer;
}

.pausePlayButton {
    display: none;
    position: absolute;
    height: 45px;
    width: 45px;
    right: 2px;
    top: 50px;
}

.pausePlayButton:hover {
    scale: 1.05;
    cursor: pointer;
}

.fullscreenButton {
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0;
    right: 0;
}

.fullscreenButton:hover {
    scale: 1.05;
    cursor: pointer;
}

canvas {
    height: 100%;
    width: 100%;
    background-color: black;
}