* {
    margin: 0;
    font-family: 'chango';
    box-sizing: border-box;
    padding: 0;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.gameBox {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url("img/9_intro_outro_screens/elPolloLocoBgr.jpg");
}

.gameScreen {
    aspect-ratio: 720 / 480;
    position: relative;
    overflow: hidden;
}

.fpsBlock {
    position: absolute;
    top: 0;
    z-index: 6;
    font-size: 10px;
    background-color: black;
    color: white;
}

.activeFpsBlock {
    position: absolute;
    top: 0;
    z-index: 6;
    font-size: 10px;
    background-color: #ffffff00;
    color: black;
    border: none;
}

.gameIntro {
    position: absolute;
    height: 100%;
    width: 100%;
}

.gameOutro {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: outroZoomIn 1s;
}

.gameInfo {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("img/9_intro_outro_screens/infoWallpaper.jpg");
}

.infoBox {
    height: 100%;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}

.infoLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoText {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    padding: 10px;
    border-left: black 2px solid;
}

.doubleExplaintButtons {
    display: flex;
    gap: 5px;
}

.explainButton {
    height: 60px;
    width: 60px;
}

.startButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    background-color: rgb(221, 221, 52);
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    transform: translate(-50%, 0);
    width: fit-content;
    height: fit-content;
}

.startButton:hover {
    background-color: rgb(255, 251, 22);
    transform: translate(-50%, 0) scale(1.05);
    cursor: pointer;
}

.infoButton {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    background: url('img/9_intro_outro_screens/infoButton.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

.infoButton:hover {
    scale: 1.05;
    color: #3164A3;
    cursor: pointer;
}

.pausePlayButton {
    display: none;
    position: absolute;
    height: 45px;
    width: 45px;
    right: 2px;
    top: 55px;
}

.pausePlayButton:hover {
    scale: 1.05;
    cursor: pointer;
}

.showHideUiButton {
    display: none;
    position: absolute;
    height: 45px;
    width: 45px;
    right: 2px;
    top: 160px;
    border: 3px solid;
    border-radius: 50%;
}

.showHideUiButton:hover {
    scale: 1.05;
}

.playPauseAudioButton {
    display: none;
    position: absolute;
    right: 2px;
    top: 105px;
}

.playPauseAudioButton:hover {
    scale: 1.05;
}

.fullscreenButton {
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.fullscreenButton:hover {
    scale: 1.05;
    cursor: pointer;
}

.touchButtonsContainer {
    width: 100%;
    position: absolute;
    display: none;
    justify-content: space-between;
    bottom: 0px;
    padding: 5px;
}

.touchButtonBox {
    display: flex;
    gap: 25px;
}

.arrowLeftButton {
    border: none;
    background-color: transparent;
    height: 60px;
    width: 60px;
    bottom: 10px;
    left: 10px;
}

.arrowLeftButton:hover {
    scale: 1.05;
}

.arrowRightButton {
    border: none;
    background-color: transparent;
    height: 60px;
    width: 60px;
    bottom: 10px;
    left: 70px;
}

.arrowRightButton:hover {
    scale: 1.05;
}

.throwButton {
    border: none;
    background-color: transparent;
    height: 60px;
    width: 60px;
    bottom: 10px;
    right: 10px;
}

.throwButton:hover {
    scale: 1.05;
}

.jumpButton {
    border: none;
    background-color: transparent;
    height: 60px;
    width: 60px;
    bottom: 10px;
    right: 10px;
}

.jumpButton:hover {
    scale: 1.05;
}

canvas {
    height: 100%;
    width: 100%;
    display: block;
    background-color: black;
}

@keyframes outroZoomIn {
    0% {
        transform: scale(8);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 720px) {

    /* .gameScreen {
        width: 100%;
    } */
    .fullscreenButton {
        display: none;
    }

    .infoBox {
        justify-content: space-between;
        gap: 0;
        padding: 10px;
    }

    .infoText {
        font-size: 14px;
    }

    .explainButton {
        height: 40px;
        width: 40px;
    }

    .touchButtonBox {
        gap: 40px;
    }
}


/* @media (min-aspect-ratio: 720/ 480) {
    .gameScreen {
        max-height: 100% !important;
        max-width: 100% !important;
    }
} */

@media only screen and (max-width: 700px) {
    .arrowLeftButton {
        height: 50px;
        width: 50px;
    }

    .arrowRightButton {
        height: 50px;
        width: 50px;
    }

    .jumpButton {
        height: 50px;
        width: 50px;
    }

    .throwButton {
        height: 50px;
        width: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .infoButton {
        height: 45px;
        width: 45px;
    }

    .startButton {
        bottom: 5;
        font-size: 14px;
    }

    .pausePlayButton {
        height: 40px;
        width: 40px;
    }

    .playPauseAudioButton {
        height: 40px;
        width: 40px;
    }

    .showHideUiButton {
        height: 40px;
        width: 40px;
    }

    .infoBox {
        font-size: 14px;
    }

    .infoText {
        font-size: 14px;
    }
}


/* @media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
} */

@media (max-width: 480px) {
    .startButton {
        bottom: 2px;
        padding: 5px;
    }

    .infoButton {
        height: 35px;
        width: 35px;
    }

    .pausePlayButton {
        height: 30px;
        width: 30px;
        top: 38px;
    }

    .playPauseAudioButton {
        height: 30px;
        width: 30px;
        top: 70px;
    }

    .showHideUiButton {
        height: 30px;
        width: 30px;
        top: 100px;
    }

    .infoBox {
        font-size: 12px;
    }

    .infoText {
        font-size: 12px;
    }

    .explainButton {
        height: 35;
        width: 35;
    }
}

@media (max-width: 400px) {
    .startButton {
        font-size: 10px;
    }
}